* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#box1 {
  width: 80%;
  height: max-content;
  background-color: white;
}

.data_box {
  width: 100%;
  height: max-content;
  background-color: #00b7ff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.data_box img {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}