@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@mixin flex-center($mode: 1){
    display: flex;
    align-items: center;

    @if $mode == 1{
        justify-content: center;
    }@else if $mode == 2{
        justify-content: flex-start;
        flex-direction: column;
    }
}

$loading-c: hsl(180, 80%, 50%);
@mixin border(){
    box-shadow: inset 0 0 1px 2px $loading-c;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}

body{
    width: 100%;
    min-height: 100vh;

    @include flex-center();
    background-color: hsl(0, 0%, 10%);
}

.loader{
    width: 100px;
    aspect-ratio: 1 / 1;
    background-color: $loading-c;
    @include flex-center();

    position: relative;
}

.loader-item{
    width: 100%; height: 100%;

    @include border();

    position: absolute;
}
.loader-item{
    animation: loading-ani 1.5s linear infinite;
}

.loader-item:nth-child(1){
    top: -100%;
    transform-origin: 100% 100%;
}
.loader-item:nth-child(2){
    right: -100%;
    transform-origin: 0 100%;
}
.loader-item:nth-child(3){
    bottom: -100%;
    transform-origin: 0 0;
}
.loader-item:nth-child(4){
    left: -100%;
    transform-origin: 100% 0;
}

@keyframes loading-ani{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(180deg);
    }
}