@mixin flex-center($mode: 1){
    display: flex;
    align-items: center;
    
    @if $mode == 1{
        justify-content: center;
    }@else if $mode == 2{
        justify-content: flex-start;;
        flex-direction: column;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;

    @include flex-center(1);
}

#box1{
    width: 80%;
    height: max-content;

    background-color: rgb(255, 255, 255);
}

.data_box{
    width: 100%;
    height: max-content;
    background-color: #00b7ff;

    @include flex-center(2);

    img{
        width: 100%;
        height: auto; max-height: 500px;
        object-fit: cover;
    }
}