@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 60dvw;
  overflow-x: auto;
  padding: 2em;
  display: flex;
  position: relative;
}
.box::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, white, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, white);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}

.box::-webkit-scrollbar {
  display: none;
}

.box:hover .card-box {
  animation-play-state: paused;
}

.card-box {
  gap: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 10s linear infinite;
  padding-right: 2em;
}

.card {
  width: 300px;
  aspect-ratio: 2/3;
  cursor: pointer;
  border-radius: 0.5em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: scale 0.3s ease-in-out;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card:hover {
  scale: 1.05;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}