@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@mixin flex-center($mode: 1){
    display: flex;
    align-items: center;

    @if $mode == 1{
        justify-content: center;
    }@else if $mode == 2{
        justify-content: flex-start;
        flex-direction: column;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: hsl(220, 5%, 12%);

    @include flex-center(1);
}

.box{
    width: 400px;
    aspect-ratio: 1 / 1;
    background-color: hsl(0, 0%, 0%);

    border-radius: 80px;
    box-shadow:
        0 15px 20px 0px hsl(0, 0%, 100%, .3)
        , inset 0 3px 3px hsl(222, 100%, 57%, .15)
        , inset 0 -15px 11px hsla(0, 0%, 100%, 0.4)
        , inset 0 -30px 22px hsl(222, 100%, 70%, 0.5)
        , inset 0 -45px 33px hsl(222, 82%, 44%)
        // , inset 
    ;
}