@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@mixin flex-center($mode: 1){
    display: flex;
    align-items: center;

    @if $mode == 1{
        justify-content: center;
    }@else if $mode == 2{
        justify-content: flex-start;
        flex-direction: column;
    }
}

$gap: 2em;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}

body{
    width: 100%;
    min-height: 100vh;

    @include flex-center(1);
}

.box{
    width: 60dvw;

    overflow-x: auto;
    
    padding: $gap;

    display: flex;

    position: relative;

    &::after{
        content: "";
        width: 100%; height: 100%;
        background : linear-gradient(90deg, 
        hsl(0, 0%, 100%) ,
        hsl(0, 0%, 100%, 0) 10%,
        hsl(0, 0%, 100%, 0) 90%,
        hsl(0, 0%, 100%)
        );
        pointer-events: none;

        position: absolute;
            top: 0; left: 0;
            z-index: 99999;
    }
}
.box::-webkit-scrollbar{
    display: none;
}
.box:hover{
    .card-box{
        animation-play-state: paused;
    }
}

.card-box{
    gap: $gap;

    @include flex-center();

    animation: spin 10s linear infinite;

    padding-right: $gap;
}

.card{
    width: 300px;
    aspect-ratio: 2 / 3;
    cursor: pointer;

    border-radius: .5em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

    overflow: hidden;

    @include flex-center();

    position: relative;

    transition: scale 0.3s ease-in-out;

    img{
        width: 100%; height: 100%;
        object-fit: cover;
        position: absolute;
            top: 0; left: 0;
    }
}
.card:hover{
    scale: 1.05;
}

@keyframes spin{
    from{
        translate:  0;
    }
    to{
        translate: -100%;
    }
}