@mixin flex-center($mode: 1){
    display: flex;
    align-items: center;

    @if $mode == 1{
        justify-content: center;
    }@else if $mode == 2{
        justify-content: flex-start;
        flex-direction: column;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;

    @include flex-center(1);
}

.focus-mask{
    --offset-x: 0px;
    --offset-y: 0px;

    width: 200px;
    aspect-ratio: 1 / 1;
    background-color: rgb(0, 255, 234);

    position: fixed;
        top: 0;
        left: 0;
    
    transform: translate(calc(var(--offset-x) - 50%), calc(var(--offset-y) - 50%));
}