@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
}

.loader {
  width: 100px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loader-item {
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 1px 2px #1ae6e6;
  position: absolute;
}

.loader-item {
  animation: loading-ani 1.5s linear infinite;
}

.loader-item:nth-child(1) {
  top: -100%;
  transform-origin: 100% 100%;
}

.loader-item:nth-child(2) {
  right: -100%;
  transform-origin: 0 100%;
}

.loader-item:nth-child(3) {
  bottom: -100%;
  transform-origin: 0 0;
}

.loader-item:nth-child(4) {
  left: -100%;
  transform-origin: 100% 0;
}

@keyframes loading-ani {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}