@use '@styles/index' as *;

$card-bg-color: hsl(0, 0%, 20%);

#root{
    gap: 5rem;

    flex-wrap: wrap;
    align-content: center;
}

.card-box{
    gap: 1rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

 .card{
    --x: calc(var(--live-local-pointer-x-ratio, 0) * 100%);
    --y: calc(var(--live-local-pointer-y-ratio, 0) * 100%);

    width: clamp(100px, 20vmin, 200px);
    aspect-ratio: 1;
    background-color: $card-bg-color;

    border-radius: 1rem;

    position: relative;
}

body:hover .card-box.use-before .card{
    overflow: hidden;
    
    &::before{
        --limit: 10%;

        content: '';
        width: 50%;

        background: radial-gradient(circle,
            hsl(274, 100%, 62%),
            hsla(0, 0%, 0%, 0.1)
        );

        filter: blur(30px);

        aspect-ratio: 1;

        border-radius: 50%;

        position: absolute;
            // left: clamp(var(--limit), var(--x), calc(100% - var(--limit)));
            // top: clamp(var(--limit), var(--y), calc(100% - var(--limit)));
            left: var(--x);
            top: var(--y);
        

        transform: translate(-50%, -50%);
    }
}

.use-bg .card{
    padding: 2px;

    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
}

body:hover .use-bg .card{
    background-image: radial-gradient(
        circle at var(--x) var(--y),
        hsl(274, 100%, 62%),
        $card-bg-color 50%
    );
}