@use '@styles/index' as *;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --body-bg-color: hsl(0, 0%, 10%);

    --btn-s1-color: hsl(274, 100%, 62%);

    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    color: hsl(0, 0%, 100%);

    font-family: var(--sans);
    font-weight: 400;
}

body, #root{
    width: 100%;
    height: 100dvh;

    gap: 1rem;

    @include flex-center();
}

body{
    position: fixed;

    background: repeating-linear-gradient(
        45deg,
        var(--body-bg-color),
        var(--body-bg-color) 6px,
        hsl(0, 0%, 0%) 6px,
        hsl(0, 0%, 0%) 12px
    );

    &::before {
        content: "";
        background: inherit;

        position: fixed;
            inset: 0;
            z-index: -1;
    }
}

#root{
    background-color: inherit;
}

code{
    background-color: hsl(0, 0%, 30%, .5);

    border: .5px solid hsl(0, 0%, 30%);
    border-radius: 4px;

    padding: 0.2em 0.4em;

    line-height: 1;
    font-family: var(--mono);
    font-size: 0.9em;
}

.btn-s1{
    --main-color: var(--btn-s1-color);

    background-color: color-mix(in srgb, var(--main-color) 20%, transparent);
    cursor: pointer;

    border: none;
    border-radius: .3rem;

    box-shadow: 0 0 0 1px var(--main-color);
    padding: 0.5em 1em;

    color: inherit;
}