@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@mixin flex-center($mode: 1){
    display: flex;
    align-items: center;

    @if $mode == 1{
        justify-content: center;
    }@else if $mode == 2{
        justify-content: flex-start;
        flex-direction: column;
    }
}

$loading-c: hsl(180, 80%, 50%);
@mixin border(){
    box-shadow: inset 0 0 1px 2px $loading-c;
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}

body{
    width: 100%;
    min-height: 100vh;

    @include flex-center();
    background-color: hsl(0, 0%, 10%);
}

.loader{
    width: 3rem;
    aspect-ratio: 1 / 1;
    // background-color: $loading-c;

    @include flex-center();

    position: relative;
}

.loader-item{
    width: 100%; height: 100%;

    position: absolute;

    &::before {
        content: "";
        width: 100%;
        height: 100%;

        background: conic-gradient(from var(--angle) at 50% 50%, 
            hsl(180, 80%, 50%) 0,
            rgba(255, 0, 255, 0) 60deg,
            rgba(255, 0, 255, 0) 300deg,
            hsl(180, 80%, 50%) 360deg
        );
           
        padding: .5em;

        mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude;
        -webkit-mask-composite: destination-out;

        position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;

        animation: background-spin 1.5s linear infinite;

        @keyframes background-spin {
            from{
                --angle: 0deg;
            }
            to {
                --angle: 360deg;
            }
        }
    }
}
.loader-item:nth-child(1){
    top: -100%;

    &::before{
        transform: translate(-50%, -50%);
    }
}
.loader-item:nth-child(2){
    right: -100%;

    &::before{
        transform: rotate(90deg) translate(-50%, 50%);
    }
}
.loader-item:nth-child(3){
    bottom: -100%;

    &::before{
        transform: rotate(180deg) translate(50%, 50%);
    }
}
.loader-item:nth-child(4){
    left: -100%;

    &::before{
        transform: rotate(270deg) translate(50%, -50%);
    }
}