@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@mixin flex-center($mode: 1){
    display: flex;
    align-items: center;

    @if $mode == 1{
        justify-content: center;
    }@else if $mode == 2{
        justify-content: flex-start;
        flex-direction: column;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}

body{
    width: 100%;
    min-height: 100vh;

    @include flex-center();
}

.btn{
    --p: .21em;
    --br: 1em;

    font-size: 80px;

    height: 3.2em;
    aspect-ratio: 2.8 / 1;
    background: linear-gradient(90deg, rgb(34, 34, 34), rgb(1, 1, 1));
    cursor: pointer;

    border-radius: var(--br);

    padding: var(--p);

    color: white;

    @include flex-center();

    .icon{
        height: 100%;
        aspect-ratio: 1 / 1;
        background-color: rgb(255, 32, 48);

        border-radius: calc(var(--br) - var(--p));

        box-shadow:
            inset 0 2px 2px rgb(255, 255, 255, .5),
            inset 0 -2px 2px rgb(0, 0, 0, .5)
            ;

        @include flex-center();

        .block-box{
            --spacing: .15em;

            height: 100%;
            aspect-ratio: 1 / 1;

            @include flex-center();

            .block-row{
                width: 7%;

                @include flex-center(2);

                gap: var(--spacing);

                .block{
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    background-color: rgb(255, 255, 255, .2);
                }

                .on{
                    background-color: rgb(255, 255, 255);
                }
            }

            .block-row:nth-child(1),
            .block-row:nth-child(2),
            .block-row:nth-child(3),
            .block-row:nth-child(4)
            {
                margin-right: var(--spacing);
            }

            .block-row:nth-child(6),
            .block-row:nth-child(7)
            {
                display: none;
            }
        }
    }

    .text{
        flex: 1;

        @include flex-center();

        span{
            user-select: none;
            translate: 0 -5%;
            font-weight: 400;
        }
    }
}